/* Fargepallett */
* {
    margin: 0;
    padding: 0;
}

:root {
    --hvit: rgb(255, 246, 238);
    --beige: rgb(172, 155, 143);
    --brun: rgb(104, 88, 78);
    --sort: rgb(15, 14, 13);
}

#grid {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas:"nav"
                        "head"
                        "main"
                        "foot"

}

#grid > nav {
    grid-area: nav;
}

#grid > header {
    grid-area: head;
}

#grid > main {
    grid-area: main;
}

#grid > footer {
    grid-area: foot;
}

/* Nav */

nav {
    display:flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 2rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin: 1rem;
}

nav ul li a:hover {

}

#logo {
    height: 40px;
    margin: 2em;
}

/* Header */

header {
}

header h1 {
}

#bakgrunn {
}
/*Hovedområde*/

main {


}

main div {

}

article {

}

article img {

}

article div {


}

/*Her må jeg få klassen til å fungere*/
#knapp {

}


/* Footer */

footer {

}

footer ul {

}

footer ul li {

}

